    @model ProStoneIMS2015.Models.Sink_type
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
        <h3 class="modal-title">Detail</h3>
    </div>

    <div class="modal-body">
        <div class="table-responsive">
            <table class="table table-bordered table-hover table-condensed" id="detail-modal">
                <tr>
                    <td width="30%">@Html.LabelFor(m => Model.Name):</td>
                    <td width="70%">@Model.Name</td>
                </tr>
                <tr>
                    <td>@Html.LabelFor(m => Model.Notes):</td>
                    <td>@Model.Notes</td>
                </tr>
                <tr>
                    <td>@Html.LabelFor(m => Model.Inactive):</td>
                    <td>@Html.CheckBoxFor(m => m.Inactive, new { @disabled="disabled" })</td>
                </tr>
            </table>
        </div>


    </div>

    <div class="modal-footer">
        <button class="btn btn-warning" data-dismiss="modal">Close</button>
    </div>
