@model ProStoneIMS2015.Models.QouteViewModel
<div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
    <h3 class="modal-title">Create New Quote</h3>
</div>


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="modal-body">
        <div class="form-horizontal">

            <div class="form-group">
                @Html.LabelFor(m => Model.FirstName, new { @class = "control-label col-sm-3" })
                <div class="col-sm-9">
                    @Html.TextBoxFor(m => m.FirstName, new { @class = "form-control required" })
                    <div>
                        @Html.ValidationMessageFor(m => m.FirstName)
                    </div>
                </div>
            </div>
            <div class="form-group">
                @Html.LabelFor(m => Model.LastName, new { @class = "control-label col-sm-3" })
                <div class="col-sm-9">
                    @Html.TextBoxFor(m => m.LastName, new { @class = "form-control required" })
                    <div>
                        @Html.ValidationMessageFor(m => m.LastName)
                    </div>
                </div>
            </div>
            <div class="form-group">
                @Html.LabelFor(m => Model.Phone, new { @class = "control-label col-sm-3" })
                <div class="col-sm-9">
                    @Html.TextBoxFor(m => m.Phone, new { @class = "form-control required" })
                    <div>
                        @Html.ValidationMessageFor(m => m.Phone)
                    </div>
                </div>
            </div>
            <div class="form-group">
                @Html.LabelFor(m => Model.Email, new { @class = "control-label col-sm-3" })
                <div class="col-sm-9">
                    @Html.TextBoxFor(m => m.Email, new { @class = "form-control required" })
                    <div>
                        @Html.ValidationMessageFor(m => m.Email)
                    </div>
                </div>
            </div>
            <div class="form-group">
                @Html.LabelFor(m => Model.Address, new { @class = "control-label col-sm-3" })
                <div class="col-sm-9">
                    @Html.TextBoxFor(m => m.Address, new { @class = "form-control required" })
                    <div>
                        @Html.ValidationMessageFor(m => m.Address)
                    </div>
                </div>
            </div>
            <div class="form-group">
                @Html.LabelFor(m => Model.City, new { @class = "control-label col-sm-3" })
                <div class="col-sm-9">
                    @Html.TextBoxFor(m => m.City, new { @class = "form-control required" })
                    <div>
                        @Html.ValidationMessageFor(m => m.City)
                    </div>
                </div>
            </div>
            <div class="form-group">
                @Html.LabelFor(m => Model.State, new { @class = "control-label col-sm-3" })
                <div class="col-sm-9">
                    @Html.TextBoxFor(m => m.State, new { @class = "form-control required" })
                    <div>
                        @Html.ValidationMessageFor(m => m.State)
                    </div>
                </div>
            </div>
            <div class="form-group">
                @Html.LabelFor(m => Model.Zip, new { @class = "control-label col-sm-3" })
                <div class="col-sm-9">
                    @Html.TextBoxFor(m => m.Zip, new { @class = "form-control required" })
                    <div>
                        @Html.ValidationMessageFor(m => m.Zip)
                    </div>
                </div>
            </div>
        </div>

    </div>






        <div class="modal-footer">
            <span id="progress" class="text-center" style="display: none;">
                <img src="@Url.Content("~/images/wait.gif")" alt="..." />
                Wait...
            </span>

            <input class="btn btn-primary" type="submit" value="Create" />
            <button class="btn btn-warning" data-dismiss="modal">Close</button>
        </div>
}
<script>
        $("form").removeData("validator");
        $("form").removeData("unobtrusiveValidation");
        $.validator.unobtrusive.parse("form");
</script>
