@using WebGridBootstrapPager
@{
    var grid = new WebGrid(
        canPage: true,
        rowsPerPage: Model.PageSize,
        canSort: true,
        ajaxUpdateContainerId: "gridContent");

    grid.Bind(Model.Content, rowCount: Model.TotalRecords, autoSortAndPage: false);
    grid.Pager(WebGridPagerModes.All);
}
<div id="gridContent">
    @if (String.IsNullOrEmpty(Request.QueryString["showInactive"]) || Request.QueryString["showInactive"].ToLower() == "false")
            {
        @grid.GetHtml(htmlAttributes: new { id = "grid" },   // id for ajaxUpdateContainerId parameter
                        fillEmptyRows: false,
                        tableStyle: "table table-striped table-hover",
                        mode: WebGridPagerModes.All,
                        columns: grid.Columns(
                          grid.Column("Id", "ID"),
                          grid.Column("Email", "Email", style: "col-lg-4"),
                          grid.Column("FirstName", "FirstName", style: "col-lg-3"),
                          grid.Column("LastName", "LastName", style: "col-lg-3"),
                          grid.Column(header: "Action", canSort: false, style: "action",
                            format: @<text>
                            @Html.Raw("<a data-modal='' href='" + Url.Action("Details", "User", new { id = item.Id }) + "' title='Detail'> <span class='glyphicon glyphicon-search'> </span> </a>")
                            @Html.Raw("<a data-modal='' href='" + Url.Action("Edit", "User", new { id = item.Id }) + "' title='Edit'> <span class='glyphicon glyphicon-edit'> </span> </a>")
                            <input name="Inactive" style="display:none;" type="checkbox" disabled value="@item.Id" @(item.Inactive == true ? "Checked" : null) />
                            </text>)
                        ));
            }
            else
            {
        @grid.GetHtml(htmlAttributes: new { id = "grid" },   // id for ajaxUpdateContainerId parameter
                        fillEmptyRows: false,
                        tableStyle: "table table-striped table-hover",
                        mode: WebGridPagerModes.All,
                        columns: grid.Columns(
                          grid.Column("Id", "ID"),
                          grid.Column("Email", "Email", style: "col-lg-4"),
                          grid.Column("FirstName", "FirstName", style: "col-lg-3"),
                          grid.Column("LastName", "LastName", style: "col-lg-3"),
                          grid.Column(header: "Inactive", format: @<text><input name="Inactive" type="checkbox" disabled value="@item.Id" @(item.Inactive == true ? "Checked" : null) /></text>),
                          grid.Column(header: "Action", canSort: false, style: "action",
                            format: @<text>
                            @Html.Raw("<a data-modal='' href='" + Url.Action("Details", "User", new { id = item.Id }) + "' title='Detail'> <span class='glyphicon glyphicon-search'> </span> </a>")
                            @Html.Raw("<a data-modal='' href='" + Url.Action("Edit", "User", new { id = item.Id }) + "' title='Edit'> <span class='glyphicon glyphicon-edit'> </span> </a>")
                            </text>)
                        ));
            }
    @grid.BootstrapPager()
</div>







