    @model ProStoneIMS2015.Models.Assignedto

    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
        <h3 class="modal-title">Edit Record</h3>
    </div>


    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()
        @Html.HiddenFor(m=>m.Id)

        <div class="modal-body">
            <div class="form-horizontal">

                <div class="form-group">
                    @Html.LabelFor(m => Model.AssignedtoName, new { @class = "control-label col-sm-3" })
                    <div class="col-sm-9">
                        @Html.TextBoxFor(m => m.AssignedtoName, new { @class = "form-control required" })
                        <div>
                            @Html.ValidationMessageFor(m => m.AssignedtoName)
                        </div>
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(m => Model.Email, new { @class = "control-label col-sm-3" })
                    <div class="col-sm-9">
                        @Html.TextBoxFor(m => m.Email, new { @class = "form-control" })
                        <div>
                            @Html.ValidationMessageFor(m => m.Email)
                        </div>
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(m => Model.ContactNo, new { @class = "control-label col-sm-3" })
                    <div class="col-sm-9">
                        @Html.TextBoxFor(m => m.ContactNo, new { @class = "form-control" })
                        <div>
                            @Html.ValidationMessageFor(m => m.ContactNo)
                        </div>
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(m => Model.Notes, new { @class = "control-label col-sm-3" })
                    <div class="col-sm-9">
                        @Html.TextBoxFor(m => m.Notes, new { @class = "form-control" })
                        <div>
                            @Html.ValidationMessageFor(m => m.Notes)
                        </div>
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(m => Model.Inactive, new { @class = "control-label col-sm-3" })
                    <div class="col-sm-9">
                        <label class="form-control">
                            @Html.CheckBoxFor(m => m.Inactive, new { style = "margin-left:5px;" })
                        </label>
                    </div>
                </div>


            </div>
        </div>

        <div class="modal-footer">
            <span id="progress" class="text-center" style="display: none;">
                <img src="images/wait.gif" alt="..." />
                Wait...
            </span>

            <input class="btn btn-primary" type="submit" value="Save" />
            <button class="btn btn-warning" data-dismiss="modal">Close</button>
        </div>
    }
    <script>
        $("form").removeData("validator");
        $("form").removeData("unobtrusiveValidation");
        $.validator.unobtrusive.parse("form");
    </script>
